.navbar {
	position: absolute;
	top: 5px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2% 5%;
	z-index: 10;
}

.navbar__brand {
	width: 150px;
	height: 100%;
}

.brand__logo {
	width: 100%;
	height: 100%;
}

.languages__drop__down {
	background: transparent;
	border: none;
	color: var(--white);
}

.languages__drop__down:focus {
	outline: none;
}

.dropdown__container {
	border: 1px solid var(--white);
	padding: .8rem .1rem;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.4);
}

.nav__item {
	display: flex;
	align-items: center;
}


.signin__button {
	background-color: var(--maximumRed);
	border: 1px solid --(maximumRed);
	color: var(--white);
	padding: .89rem 1rem;
	border-radius: 4px;
	font-family: var(--NSThin);
}

.navbar__nav__items {
	display: flex;
	gap: 10px;
}