* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}


:root {
	/* COLORS */

	--bgcolor: #222222;
	--maximumRed: #dc030f;
	--redPigment: #F40612;
	--white: #FFFFFF;
	--black: #000000;
	--silverChalice: #AAAAAA;
	--sonicSilver: #757575;
	--dimGray: #6A6A6A;
	--onyx: #404040;
	--jet: #303030;
	--brightNavyBlue: #0071EB;
	
}

body {
	color: var(--white);
	background-color: var(--black);
	font-family: "Poppins", sans-serif;
}



